.profile {
    margin-top: 10vh;
    height: 80vh;
    @include flexbox($centro, $centro, $columna);
    gap: 30px;

    h1 {
        font-size: $tamaño-fuente-3;
        width: fit-content;
        background-color: $gris-oscuro;
        padding: 15px;
        padding-right: 25px;
        padding-left: 25px;
        text-align: $centro;
    }

    h2 {
        color: $color-blanco;
        font-size: $tamaño-fuente-7;
        font-family: $font-parrafos;
    }

    img {
        height: 400px;
        margin: 20px;
    }
}

.biografia {
    margin-top: 20px;
    height: 50vh;
    @include flexbox($centro, $centro, $columna);
    gap: 15px;

    h4 {
        color: $color-blanco;
        font-weight: lighter;
        padding-left: 15%;
        align-self: flex-start;
        font-size: $tamaño-fuente-8;
    }

    p {
        width: 70%;
        font-size: $tamaño-fuente-8;
    }
}

.botones {
    height: 50vh;
    @include flexbox($centro, $centro, $columna);
    gap: 50px;
}

/*---------About me desktop-------*/

@media (min-width:$desktop) {
    .profile {
        h1 {
            font-size: $tamaño-fuente-2;
            width: fit-content;
            background-color: $gris-oscuro;
            padding: 15px;
            text-align: center;
            width: 30%;
        }

        h2 {
            color: $color-blanco;
            font-size: $tamaño-fuente-5;
            font-family: $font-parrafos;
        }
    }

    .biografia {
        h4 {
            color: $color-blanco;
            font-weight: lighter;
            padding-left: 30%;
            align-self: flex-start;
            font-size: $tamaño-fuente-6;
        }

        p {
            width: 40%;
            font-size: $tamaño-fuente-6;
        }
    }

    .botones {
        height: 50vh;
        @include flexbox();
        gap: 220px;
    }
}